---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1 class="text-4xl md:text-5xl lg:text-6xl text-center mb-5">
    Detección y medicina de precisión con IA para cardiología
  </h1>
  <h2 class="text-l md:text-xl lg:text-2xl text-center px-5">
    Llevar el poder de la inteligencia artificial a la atención cardiaca
  </h2>
</Layout>
