---
import Layout from '../layouts/Layout.astro';
import CardOptimized from '../components/CardOptimized.astro';
import appImg from '../assets/cards/app.png';
import gadgets from '../assets/cards/gadgets.png';
import dashboard from '../assets/cards/dashboard.png';
import ContactForm from '../components/ContactForm.astro';

const data = [
  {
    imageUrl: appImg,
    title: 'App y plataforma',
    description:
      'En el mundo de la atención médica actual, la precisión es esencial para brindar el mejor cuidado a nuestros pacientes. Con la ayuda de la inteligencia artificial y la innovación en dispositivos de última generación, estamos liderando el camino hacia una atención cardiológica más avanzada y personalizada que nunca.',
  },
  {
    imageUrl: gadgets,
    title: 'Nuestra Tecnología de Vanguardia',
    description:
      'Utilizamos dispositivos propios diseñados específicamente para medir su salud cardiovascular de manera precisa y continua. Estos dispositivos incluyen ECGs, holters, parches, implantables y wearables. Nuestra tecnología no solo registra los datos, sino que también utiliza algoritmos de inteligencia artificial de última generación para analizarlos de manera rápida y eficiente.',
  },
  {
    imageUrl: dashboard,
    title: 'Ventajas de nuestra plataforma',
    description: [
      'Precisión Inigualable: Nuestra IA es capaz de detectar incluso las irregularidades más sutiles en su ritmo cardíaco, lo que nos permite intervenir antes de que los problemas empeoren.',
      'Personalización: Su salud es única, y su tratamiento debe serlo también. Nuestra plataforma adapta las recomendaciones y el seguimiento a sus necesidades específicas.',
      'Acceso en Tiempo Real: Los datos de su corazón están disponibles para usted y su equipo médico en tiempo real, lo que permite una toma de decisiones más rápida y efectiva.',
      'Comodidad: Nuestros dispositivos son cómodos y fáciles de usar, lo que facilita el monitoreo constante de su salud cardiovascular.',
    ],
  },
];
---

<Layout>
  <h1 class="text-4xl md:text-5xl lg:text-6xl text-center mb-5">
    Detección y medicina de precisión con IA para cardiología
  </h1>
  <h2 class="text-l md:text-xl lg:text-2xl text-center px-5 mb-5">
    Llevar el poder de la inteligencia artificial a la atención cardiaca
  </h2>
  <div
    class="mb-10 flex flex-col gap-6 items-center md:flex-row md:items-stretch md:justify-center md:gap-8 px-2 sm:px-4"
  >
    {
      data.map((d) => (
        <CardOptimized
          imageUrl={d.imageUrl}
          title={d.title}
          description={d.description}
          class="mx-0"
        />
      ))
    }
  </div>
  <div class="mb-8">
    <h2 class="text-3xl md:text-4xl lg:text-5xl text-center mb-5">
      Sobre Nosotros
    </h2>
    <div class="max-w-screen-xl ml-auto mr-auto">
      <span>
        En RC Technology, estamos comprometidos a brindarle el más alto nivel de
        atención cardiológica posible. Ya sea que esté buscando una evaluación
        preventiva o un tratamiento específico, nuestra plataforma de Detección
        y Medicina de Precisión con IA para Cardiología está diseñada para
        satisfacer sus necesidades de manera efectiva.
      </span>
    </div>
  </div>
  <ContactForm client:load />
</Layout>
