---
// filepath: /src/components/ContactForm.astro
---

--- ---

<form
  method="post"
  action="/api/contact"
  id="form"
  class="bg-gray-900/50 rounded-xl shadow-md p-8 max-w-lg mx-auto flex flex-col gap-7 border-2 border-gray-700"
>
  <div class="flex flex-col gap-1.5">
    <label for="name" class="text-white">Nom</label>
    <input
      required
      type="text"
      name="name"
      id="name"
      class="border border-gray-700 rounded-lg px-4 py-2.5 bg-gray-900 text-white"
      placeholder="El teu nom"
      autocomplete="off"
    />
  </div>
  <div class="flex flex-col gap-1.5">
    <label for="surname" class="text-white">Cognom</label>
    <input
      required
      type="text"
      name="surname"
      id="surname"
      class="border border-gray-700 rounded-lg px-4 py-2.5 bg-gray-900 text-white"
      placeholder="El teu cognom"
      autocomplete="off"
    />
  </div>
  <div class="flex flex-col gap-1.5">
    <label for="email" class="text-white">Correu electrònic</label>
    <input
      required
      type="email"
      name="email"
      id="email"
      class="border border-gray-700 rounded-lg px-4 py-2.5 bg-gray-900 text-white"
      placeholder="correu@exemple.com"
      autocomplete="off"
    />
  </div>
  <div class="flex flex-col gap-1.5">
    <label for="message" class="text-white">Missatge</label>
    <textarea
      required
      name="message"
      id="message"
      rows="4"
      class="border border-gray-700 rounded-lg px-4 py-2.5 bg-gray-900 text-white"
      placeholder="En què et podem ajudar?"
      autocomplete="off"></textarea>
  </div>
  <button
    type="submit"
    class="bg-red-600 hover:bg-red-700 text-white font-semibold py-2.5 rounded-lg transition"
    >Enviar</button
  >
</form>
